#heading {
	border: 5px solid black;
	text-align: center;
}
#buttonContainer {
	text-align: center;
	margin-top: 200px;
}
#redButton {
	background-color: blue;
	color: white;
	font-size: 30px;
	width: 150px;
	height: 150px;
	padding: 20px;
	margin-left: 50px;
}
#blackButton {
	background-color: black;
	color: white;
	font-size: 30px;
	width: 150px;
	height: 150px;
	padding: 20px;
	margin-right: 50px;
}
